
@{
    ViewData["Title"] = "OnTap";
}

<h1>On Tap</h1>
<div class="row">
    <div class="col-lg-6">
        Tap #1
        <div id="tapDisplay1"></div>
    </div>
    <div class="col-lg-6">
        Tap #2
        <div id="tapDisplaly2"></div>
    </div>
</div>

