@{
    ViewData["Title"] = "On Tap";
}
    <head>
        <script src="~/js/tapDisplay.js" asp-append-version="true"></script>
    </head>
<h1>On Tap</h1>
<div class="row">
    <div class="col-lg-6">
        <div id="tap1">
            <div style="min-height:700px;max-height:710px;" class="card">
                <img class="card-img-top" style="max-height:400px;width:auto" id="tap1Logo" src="" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" id="tap1BeerDisplayName"></h4>
                    <i><h5 id="tap1Style"></h5></i>
                    <h6 id="tap1BatchNumber"></h6>
                    <h6 id="tap1ABV"></h6>
                    <h6 id="tap1PintsRemaining"></h6>
                    <div style="min-height:120px"><p id="tap1TastingNotes" class="card-text"></p></div>
                    <a href="#" class="btn btn-primary">View Batch Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div style="min-height:700px" id="tap2">
            <div style="min-height:700px;max-height:710px;" class="card">
                <img style="max-height:400px;width:auto" class="card-img-top" id="tap2Logo" src="" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" id="tap2BeerDisplayName"></h4>
                    <i><h5 id="tap2Style"></h5></i>
                    <h6 id="tap2BatchNumber"></h6>
                    <h6 id="tap2ABV"></h6>
                    <h6 id="tap2PintsRemaining"></h6>
                    <div style="min-height:120px"><p id="tap2TastingNotes" class="card-text"></p></div>
                    <a href="#" class="btn btn-primary">View Batch Details</a>
                </div>
            </div>
        </div>
    </div>

</div>

