
@{
    ViewData["Title"] = "OnTap";
}
    <head>
        <script src="~/js/tapDisplay.js" asp-append-version="true"></script>
    </head>
<h1>On Tap</h1>
<div class="row">
    <div class="col-lg-6">
        Tap #1
        <div id="tapDisplay1"></div>
    </div>
    <div class="col-lg-6">
        Tap #2
        <div id="tapDisplay2"></div>
    </div>
</div>

