@{
    ViewData["Title"] = "Fermentation Log";
}
    <head>
        <script src="~/js/fermentationLog.js" asp-append-version="true"></script>
    </head>
<h1>Fermentation Log</h1>
<div class="dx-viewport fermentationLog-container">
    <div id="logTable"></div>
</div>

