[Unit]
Description=SabreSpringsBrewing
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=10
User=root
WorkingDirectory=/home/bryce/SabreSpringsBrewing/
ExecStart=/usr/bin/sudo /home/bryce/dotnet/dotnet /home/bryce/SabreSpringsBrewing/SabreSprings.Brewing.Api.dll --environment="Production"
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
