@{
    ViewData["Title"] = "Fermentation Chart";
}
    <head>
        <script src="~/js/fermentationChart.js" asp-append-version="true"></script>
    </head>
<h1>Fermentation Chart</h1>
<div class="dx-viewport fermentationChart-container">
    <div id="fermentationChart"></div>
</div>

