[Unit]
Description=SabreSpringsBrewing.Api
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=10
User=root
WorkingDirectory=/home/bryce/SabreSpringsBrewing/Api/
ExecStart=/usr/bin/sudo /usr/share/dotnet/dotnet /home/bryce/SabreSpringsBrewing/Api/SabreSprings.Brewing.Api.dll --environment="Production"
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
