
@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="~/js/recipeTable.js" asp-append-version="true"></script>
</head>
<h1>Recipes</h1>
<div class="table-container">
    <div id="gridContainer"></div>
    @*<div id="employeeInfo">
            <img class="employeePhoto" />
            <p class="employeeNotes"></p>S
        </div>*@

</div>