[Unit]
Description=TapListener
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=10
User=root
WorkingDirectory=/home/bryce/TapListener/
ExecStart=/usr/bin/sudo python3 TapListener.py

[Install]
WantedBy=multi-user.target

