@model int
@{
    ViewData["Title"] = "Details";
}

    <head>
        <script src="~/js/batchDetails.js" asp-append-version="true"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                GetBatchDetails(@Model);
            });
        </script>
      
    </head>

<h1 id="header"></h1>

<div id="details"></div>
