@{
    ViewData["Title"] = "Home Page";
}


    <div class="jumbotron">
        <h1 class="display-4">Sabre Springs Brewing</h1>
        <p class="lead">Welcome to the Sabre Springs Brewing main frame!</p>
        <hr class="my-4">
        <p>
            This application is a home brewery manager designed to help keep me organize and automate my brewing and fermenting process. 
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/Home/About" role="button">Learn more</a>
        </p>
    </div>
